{% extends "base.html" %}
{% block body %}
    <div class="subsidiary-page">
        <div class="banner"></div>
        <div class="grey-box nav-box">
            <div class="second-box" style="display: none;">
                <div class="second-nav" style="">
                    <a class="" href="/copyright" target="_blank"><i class="icon-caret-right"></i>服务条款</a>
                    <a class="" href="/about/feedback"><i class="icon-caret-right"></i>意见反馈</a>
                    <a class="active" href="/about/helpCenter"><i class="icon-caret-right"></i>帮助中心</a>
                </div>
            </div>
        </div>

    <div class="jumbotron">
        <div class="list-group">
            <div class="list-group-item">
                <h2>每日校招创立于2016年，是国内知名的互联网求职服务平台。</h2>
                <h2>我们利用多年的领域经验结合领先的大数据技术，致力于帮忙所有国内及海归同学拿到理想的offer。</h2>
            </div>
        </div>

        <div class="list-group">
            <div class="list-group-item">
                <h2 class="list-group-item-heading">我们有什么</h2>
            </div>
            <div class="list-group-item">
                <p class="list-group-item-heading">我们有全网最新最全的校招信息，以及相应的内推或直招方式；</p>
                <p class="list-group-item-heading">我们有全网第一个大数据求职分析系统——天机，从学历、实践经历等多维度，预测你将能斩获的offer，分析你与理想offer的距离，并给予相应的指导意见。</p>
                <p class="list-group-item-heading">还有跟多你意想不到的服务等你发现。</p>
            </div>
            <div class="list-group-item">
                <h2 class="list-group-item-heading">我们的团队</h2>
            </div>
            <div class="list-group-item">
                <p class="list-group-item-heading">这里，有数以万计来自全国及海外高校的求职小伙伴，</p>
                <p class="list-group-item-heading">这里，有来自BAT、TMD等知名互联网公司的前辈，</p>
                <p class="list-group-item-heading">这里，更有数据和技术驱动的服务，</p>
                <p class="list-group-item-heading"> 这里，更有数据和技术驱动的专业服务，</p>
                <p class="list-group-item-heading">一路加持，只为成就你！</p>
            </div>
            <div class="list-group-item">
                <h2 class="list-group-item-heading">我们的数据和战绩</h2>
            </div>
            <div class="list-group-item">
                <p class="list-group-item-heading">我们有上百万的简历数据库，为你提供强大的数据支持。</p>
                <p class="list-group-item-heading">我们有数十个校招内推直招信息渠道，为你呈现广阔的未来；</p>
                <p class="list-group-item-heading">我们已累计助力超过20,000小伙伴参与校招，拿到理想的offer！</p>
            </div>
        </div>


        <!--<h2>我们有什么</h2>-->
        <!--<div class="item">-->
            <!--<div class="anwser" style="display: block;border-top: 1px solid #ddd;">-->
                <!--<span style="color:#222222;font-family:Arial, Verdana, sans-serif;line-height:normal;background-color:#FFFFFF;">-->
                    <!--我们有全网较全的最新招聘信息，同时提供了相应的内推渠道。-->
                    <!--我们有全网第一个基于大数据信息分析系统&#45;&#45;天机，从学历，学校，曾经工作经验等多维度分析你的距离理想的offer有多远。-->
                    <!--我们有全网第一个基于大数据简历处理系统&#45;&#45;（地鸡），从你的简历出发，通过大数据的分析，提供简历修改意见，并且提供1V1简历修改服务。-->
                    <!--还有跟多你意想不到的服务等你发现。-->
                <!--</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<h2>我们的队伍</h2>-->
        <!--<div class="item">-->
            <!--<div class="anwser" style="display: block;border-top: 1px solid #ddd;">-->
                <!--<span style="color:#222222;font-family:Arial, Verdana, sans-serif;line-height:normal;background-color:#FFFFFF;">-->
                    <!--校园内，我们有专业的互联网行业老师。-->
                    <!--职场上，我们有来自BAT等名企的师兄师姐。面试时，我们有漂亮有经验的HR小姐姐。-->
                    <!--但是，我们相信数据才是真正支撑着一路走来，蓬勃发展。-->
                <!--</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<h2>我们的数据和战绩</h2>-->
        <!--<div class="item">-->
            <!--<div class="anwser" style="display: block;border-top: 1px solid #ddd;">-->
                <!--<span style="color:#222222;font-family:Arial, Verdana, sans-serif;line-height:normal;background-color:#FFFFFF;">-->
                    <!--我们有上百万的简历数据库。-->
                    <!--我们有获取最新校招信息的多种渠道。-->
                <!--</span>-->
            <!--</div>-->
        <!--</div>-->
	</div>
 </div>
</div>

{% endblock %}

