{% extends "manager_index.html" %}
{% block body %}
    <h1>会员及订单管理系统</h1>
    <div>
    <button type="button"   onclick=show1()>会员管理</button>
    <button type="button"   onclick=show2()>订单管理</button>
    </div>
    <div id="vip" style="display:block">
        <h2>会员管理</h2>
        <form  method="post" action="/vip/search/" >
            {% csrf_token %}
            <p>请输入需查询的会员邮箱</p>
        <input type="text" name="vip" placeholder="请输入会员邮箱">
            <button type="submit" >搜索账号</button>
        </form>
        <a href="{% url 'vip:vip_edit' 0 %}">新增会员</a>
    <hr>
        <hr>
            <p>点击账号以进行修改&nbsp</p>
        {% for res in results %}
            <a href="{% url 'vip:show' res.id %}">{{ res.vip }}&nbsp<br></a>
        {% endfor %}
    </div>

    <div id="order" style="display:none">
        <h2>订单管理</h2>
    <hr>
        <form  method="post" action="/vip/share_search/" >
            {% csrf_token %}
            <p>请输入需查询的完整订单号</p>
        <input type="text" name="share_dingdanhao" placeholder="请输入订单号">
            <button type="submit" >搜索订单号</button>
        </form>
         <a href="{% url 'vip:order_edit' 0 %}">新增订单</a>
    <hr>
    <p>点击订单号以进行修改&nbsp</p>
        {% for ress in resultsshare %}
        <a href="{% url 'vip:order_show' ress.id %}">{{ ress.dingdanhao }}&nbsp<br></a>
        {% endfor %}

    </div>


<script type="text/javascript">
    function show1(){

        document.getElementById("vip").style.display="block";

        document.getElementById("order").style.display="none";

    }

    function show2(){

        document.getElementById("vip").style.display="none";

        document.getElementById("order").style.display="block";

    }
</script>
{% endblock %}