{% extends "manager_index.html" %}
{% block body %}
<form action="{% url 'vip:order_edit_action' %}" method="post" onsubmit="return validate_form(this);">
    {% csrf_token %}
        <input type="hidden" name="id" value="0"/>
        <label>老会员邮箱
        <input type="text" name="old" value="{{ res.old}}"/> </label>
        <br/>
        <label>新会员邮箱
        <input type="text" name="new_email" value="{{ res.new}}"/> </label>
        <br/>
        <label>开始服务时间
        <input type="text" name="start_time" value="{{ res.start_time}}" id="start_time" onblur="check()"/> </label>
        <br/>
        <label>结束服务时间
        <input type="text" name="end_time" value="{{ res.end_time}}" id="end_time" onblur="check2()"/> </label>
        <br/>
        <label>订单号
        <input type="text" name="dingdanhao" value="{{ res.dingdanhao}}"/></label>
        <br/>
        <label>邀请码
        <input type="text" name="invitation" value="{{ res.invitation}}"/></label>
        <br/>
    <input type="submit" value='更新'>
</form>
<script type="text/javascript">
function validate_email(field,alerttxt)
{
with (field)
{
apos=value.indexOf("@")
dotpos=value.lastIndexOf(".")
if (apos<1||dotpos-apos<2)
  {alert(alerttxt);return false}
else {return true}
}
}

function validate_form(thisform)
{
with (thisform)
{
if (validate_email(old,"不是一个有效的邮箱地址，请填入一个有效的老用户邮箱地址")==false)
  {old.focus();return false}
if (validate_email(new_email,"不是一个有效的邮箱地址，请填入一个有效的新用户邮箱地址")==false)
  {new_email.focus();return false}
}
}
function check()
   {
        var date = document.getElementById("start_time").value;
        var result = date.match(/((^((1[8-9]\d{2})|([2-9]\d{3}))(-)(10|12|0?[13578])(-)(3[01]|[12][0-9]|0?[1-9])$)|(^((1[8-9]\d{2})|([2-9]\d{3}))(-)(11|0?[469])(-)(30|[12][0-9]|0?[1-9])$)|(^((1[8-9]\d{2})|([2-9]\d{3}))(-)(0?2)(-)(2[0-8]|1[0-9]|0?[1-9])$)|(^([2468][048]00)(-)(0?2)(-)(29)$)|(^([3579][26]00)(-)(0?2)(-)(29)$)|(^([1][89][0][48])(-)(0?2)(-)(29)$)|(^([2-9][0-9][0][48])(-)(0?2)(-)(29)$)|(^([1][89][2468][048])(-)(0?2)(-)(29)$)|(^([2-9][0-9][2468][048])(-)(0?2)(-)(29)$)|(^([1][89][13579][26])(-)(0?2)(-)(29)$)|(^([2-9][0-9][13579][26])(-)(0?2)(-)(29)$))/);
        if(result==null)
        {
            alert("开始服务时间格式输入错误");
            alert("请输入正确的开始服务时间日期格式,例如YYYY(年)-DD(月)-XX(日)");
            return false;
        }

}
function check2()
   {
        var date = document.getElementById("end_time").value;
        var result = date.match(/((^((1[8-9]\d{2})|([2-9]\d{3}))(-)(10|12|0?[13578])(-)(3[01]|[12][0-9]|0?[1-9])$)|(^((1[8-9]\d{2})|([2-9]\d{3}))(-)(11|0?[469])(-)(30|[12][0-9]|0?[1-9])$)|(^((1[8-9]\d{2})|([2-9]\d{3}))(-)(0?2)(-)(2[0-8]|1[0-9]|0?[1-9])$)|(^([2468][048]00)(-)(0?2)(-)(29)$)|(^([3579][26]00)(-)(0?2)(-)(29)$)|(^([1][89][0][48])(-)(0?2)(-)(29)$)|(^([2-9][0-9][0][48])(-)(0?2)(-)(29)$)|(^([1][89][2468][048])(-)(0?2)(-)(29)$)|(^([2-9][0-9][2468][048])(-)(0?2)(-)(29)$)|(^([1][89][13579][26])(-)(0?2)(-)(29)$)|(^([2-9][0-9][13579][26])(-)(0?2)(-)(29)$))/);
        if(result==null)
        {
            alert("结束服务时间格式输入错误");
            alert("请输入正确的结束服务时间日期格式,例如YYYY(年)-DD(月)-XX(日)");
            return false;
        }

}
</script>
{% endblock %}