{% extends "manager_index.html" %}
{% block body %}
<form action="{% url 'vip:order_edit_action' %}" method="post">
    {% csrf_token %}
    {% if res %}
        <input type="hidden" name="id" value="{{res.id}}"/>
        <label>老会员邮箱
        <input type="text" name="old" value="{{ res.old}}"/> </label>
        <br/>
        <label>新会员邮箱
        <input type="text" name="new" value="{{ res.new}}"/> </label>
        <br/>
        <label>开始服务时间
        <input type="text" name="start_time" value="{{ res.start_time}}"/> </label>
        <br/>
        <label>结束服务时间
        <input type="text" name="end_time" value="{{ res.end_time}}"/> </label>
        <br/>
        <label>订单号
        <input type="text" name="dingdanhao" value="{{ res.dingdanhao}}"/></label>
        <br/>
        <label>邀请码
        <input type="text" name="invitation" value="{{ res.invitation}}"/></label>
        <br/>
    {% else %}
        <input type="hidden" name="id" value="0"/>
        <label>老会员邮箱
        <input type="text" name="old" value="{{ res.old}}"/> </label>
        <br/>
        <label>新会员邮箱
        <input type="text" name="new" value="{{ res.new}}"/> </label>
        <br/>
        <label>开始服务时间
        <input type="text" name="start_time" value="{{ res.start_time}}"/> </label>
        <br/>
        <label>结束服务时间
        <input type="text" name="end_time" value="{{ res.end_time}}"/> </label>
        <br/>
        <label>订单号
        <input type="text" name="dingdanhao" value="{{ res.dingdanhao}}"/></label>
        <br/>
        <label>邀请码
        <input type="text" name="invitation" value="{{ res.invitation}}"/></label>
        <br/>
    {% endif %}
    <input type="submit" value='更新'>
</form>
{% endblock %}