{% extends "manager_index.html" %}
{% block body %}
    <h1>会员及订单管理系统</h1>
        <h2>订单管理</h2>
<a href="{% url 'vip:index' %}">返回</a>
{% for res in results %}
<br>id &nbsp{{res.id }}&nbsp
老会员账号&nbsp{{ res.old }}&nbsp
新会员账号&nbsp{{ res.new }}&nbsp
服务启动时间&nbsp{{ res.start_time }}&nbsp
服务结束时间&nbsp{{ res.end_time }}&nbsp
订单号&nbsp{{ res.dingdanhao }}&nbsp
邀请号&nbsp{{ res.invitation }}&nbsp
修改时间&nbsp{{ res.change_time }}&nbsp
<a href="{% url 'vip:order_edit' res.id %}">修改</a>
<a href="{% url 'vip:order_delete' res.id %}">删除</a>
<br>
{% endfor %}
{% endblock %}
