{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
 <div class="input-group">
    <input type="text" class="form-control" name="paytext" placeholder="填入公司名或者地点" id="paytext">
    <span class="input-group-btn">
     <button type="button" class="btn btn-primary " data-toggle="modal"  data-show="true" id="mypay">go</button>
    </span>
    </div>
 </div><!-- /input-group -->
 </div>
 <p/>
<!--
<div class="container">
	<div class="row" >
	<a id="btn0"></a>
	<input id="pageSize" type="text" size="1" maxlength="2" value="getDefaultValue()"/><a> 条 </a> <a href="#" id="pageSizeSet">设置</a> 
	<a id="sjzl"></a> 
	<a  href="#" id="btn1">首页</a>
	<a  href="#" id="btn2">上一页   </a>
	<a  href="#" id="btn3">下一页</a>
	<a  href="#" id="btn4">尾页</a> 
	<a>转到 </a>
	<input id="changePage" type="text" size="1" maxlength="4"/>
	<a>页 </a>
	<a  href="#" id="btn5">跳转</a>
	</div>
</div>

//-->

<div class="container-fluid">
     {%if infos%}
     {% for info in infos%}	
<div class="panel panel-primary">
     <div class="panel-heading">
     		<h3 id="myinfo">公司：&nbsp{{info.0}}&nbsp地点：&nbsp{{info.2}}&nbsp岗位：&nbsp{{info.1}}</h3>
     		<div style="float:right;">
     		  	<button type="button" class="btn btn-danger btn-lg" id="jianbtn">不可信</button>
  				<button type="button" class="btn btn-success btn-lg" id="jiabtn">可信</button>
  				<h2 id="retsult"></h2>
     		</div>
     </div>
     <div class="panel-body">
    	<p id="myintr">{{info.6}}</p>
  	 </div>
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">薪资：{{info.3}}</li>
  </ul>
     </div>
    {%endfor%}
  	{%endif%}
</div>

{% load staticfiles %}
<script  language="JavaScript" src="{%static "/js/pay.js"%}">


</script>
{% endblock %}
