<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>找回密码</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/body.css"%}"/> 
</head>
<body>
<div class="container">
	<section id="content">
		<form action="" method = 'post'>
		{% csrf_token %}  
			<h1>找回密码界面</h1>
			<div>
				<input type="text" placeholder="用户名" name= "username" required="" id="username" />
			</div>
			{%if errors%}
				<p class="help-block u-errormessage" id="js-server-helpinfo">{{errors}}</p>			</div> 
			{%endif%}
			<div>
				<input type="submit" value="找回" class="btn btn-primary" id="js-btn-login"/>
				<a href="../login/">返回主页面</a>
			</div>
		</form><!-- form -->
	</section><!-- content -->
</div>
<!-- container -->


<br><br><br><br>
<div style="text-align:center;">

</div>
</body>
</html>